@charset "utf-8";
/* CSS Document */
a, img {
    border: 0px;
    outline: none;
    color: #0079A1;

}

ul, li, h1 {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

html, body {
    margin: 0px;
    padding: 0px;
    background: #d3e8ef;
    font: normal 12px Arial, Helvetica, sans-serif;
}

.main {
    margin: 0px auto;
    width: 960px;
}

.top_header {
    float: left;
    margin: 25px 0 0 0;
    width: 100%;
}

.header_logos {
    float: left;
}

.logo {
    margin: 0 5px 0 0;
}

.top_menu {
    margin-top: 0;
    padding: 0;
    position: relative;
    width: 535px;
    float: right;
    margin-right: 4px;
}

.welcome_msg {
    float: right;
    padding: 0px 6px 0 0;
    text-align: left;
    top: 0;
    font: normal 11px Arial, Helvetica, sans-serif;
    color: #333333;
    background: url(../images/divide-line.jpg) no-repeat right center;
}

.user {
    width: 50% !important;
}

.top-links {
    padding: 0px;
    width: 100%;
    float: right;
}

.links {
    float: right;
    margin: 0px 0 0 0;
    padding: 0
}

.links li {
    float: left;
    display: inline;
}

.links a.last {
    border-right: none !important;
    padding-right: 0;
    background: none
}

.links a.last_sign {
    border: 0;
    padding-right: 0;
    background: none
}

.links a {
    color: #0079A1;
    text-decoration: none;
    font: Bold 11px Arial, Helvetica, sans-serif;
    height: 10px;
    padding: 0 12px 0 10px;
    background: url(../images/divide-line.jpg) no-repeat right center;
}

.menu {
    padding: 0px;
    width: 100%;
    float: right;
    margin: 10px 0 0 0;
}

.menu ul {
    float: right;
    margin: 0px 0 0 0;
    padding: 0
}

.menu ul li {
    float: left;
    display: inline;
    margin: 0 0 0 20px;
}

.menu ul li a {
    color: #333333;
    border-bottom: 2px solid #D3E8EF;

    font: Bold 11px Arial, Helvetica, sans-serif;
    height: 14px;
    display: block;
    padding: 0;
    text-decoration: none;
}

.menu ul li a:hover, .menu ul li a.current {

    border-bottom: 2px solid  #5daf3b;
}

.container {
    float: left;
    width: 928px;
    border: solid 1px #96a6af;
    border-top: solid 6px #000000;
    margin: 15px 0 0 0;
    padding: 25px 15px;
    background: #fff;
}

.breadcrumbs {
    width: 890px;
    padding-bottom: 5px;
    float: left;
}

.breadcrumbs li {
    float: left;
    padding-right: 2px;
    color: #000;
    font-weight: bold;
    font-size: 11px
}

.breadcrumbs li a {
    font: normal 11px Arial, Helvetica, sans-serif;
    color: #0079A1;
    text-decoration: underline;
    padding-right: 6px;
    background: url(../images/breadcrumbs_arrow.png) no-repeat right center;
    margin-right: 4px
}

.breadcrumbs_preview {
    text-decoration: none !important;
    padding-left: 6px !important;
    background: url(../images/breadcrumbs_arrow_left.png) no-repeat left center !important;
}

.breadcrumbs li.last a {
    background: none;
    cursor: default;
}

.container_left {
    float: left;
    width: 710px;
    padding: 0;
}

.container_left h1 {
    float: left;
    width: 98%;
    font: normal 40px Arial, Helvetica, sans-serif;
    color: #8f8f8f;
    margin: 0 0 15px 0;
}

.nav-container {
    width: 100%;
    float: left;
    margin: 0 0 0 1px;
}

.nav-container ul {
    margin: 0px;
    padding: 0px;
}

.nav-container ul li {
    display: inline;
    padding: 0 1px 0 1px;
    float: left;
}

.nav-container ul li span {
    width: 5px;
    height: 27px;
    float: left;
    padding: 0;
}

.nav-container ul li:hover span {
    background: url(../images/btnCorner_hover.png);
}

.nav-container ul li:hover a {
    color: #ffffff;
    background: url(../images/btnBg_honer.png);
}

.nav-container ul li.current a {
    color: #ffffff;
    background: url(../images/btnBg_honer.png);
    font-weight: bold;
}

.nav-container ul li.current span {
    background: url(../images/btnCorner_hover.png);
}

.nav-container ul li a {
    float: left;
    font: normal 12px Arial, Helvetica, sans-serif;
    width: auto;
    text-decoration: none;
    line-height: 27px;
    padding: 0 5px;
    color: #676767;
    background: url(../images/btnBg.png);
}

.nav-container ul li span {
    background: url(../images/btnCorner.png);
}

.section_cont {
    float: left;
    width: 640px;
    margin: 0 0 0 2px;
    padding: 30px 30px 30px 40px;
    background: #f4f4f6 url(../images/blue_line.png) repeat-x;
}

.section_cont span {
    float: left;
    font: bold 11px Arial, Helvetica, sans-serif;
    color: #333333;
    margin: 0 0 15px 0;
    width: 100%;
}

.section_cont p {
    float: left;
    border-bottom: dotted 1px #ccc;
    padding: 10px 0 10px 0;
    margin: 0 0 10px 0;
    width: 100%;
    font: bold 11px Arial;
    color: #333333;
}

.section_buttons {
    width: 37%;
    margin-left: auto;
    margin-right: auto;
}

.undo_changes {
    float: left;
    background: url(../images/undo_icon.png) no-repeat left center;
    color: #666;
    font-weight: bold;
    padding-left: 25px;
    text-decoration: none;
    margin: 9px 15px 0 0;
    font-size: 11px;
}

.save_btn {
    float: left;
}

.section_cont_bottom {
    float: left;
}

.container_right {
    float: right;
    width: 195px;
    padding: 5px 0 5px 5px;
}

.container_right_btn h1 {
    float: right;
    background: url(../images/right_band.png) no-repeat;
    width: 190px;
    height: 18px;
    padding: 7px;
    color: #fff;
    font: normal 11px Arial, Helvetica, sans-serif;
    margin: 0 0 0 7px;
}

.container_right span {
    color: #333;
    font: bold 11px Arial, Helvetica, sans-serif;
    float: left;
    width: 100%;
}

.inner_right {
    font: bold 13px Arial, Helvetica, sans-serif !important;
}

.container_right p {
    float: left;
    margin: 0;
    color: #333;
    font-size: 11px;
}

.container_right .rename {
    float: left;
    font-size: 11px;
    width: 100%;
    margin-bottom: 13px;
}

.preview_btn {
    float: left;
}

.download_setting {
    float: left;
    width: 100%;
    background: url(../images/div-brd.jpg) repeat-x;
    padding: 25px 0 0 0;
    margin: 25px 0 0 0;
    font-size: 11px;
}

.download_setting ul {
    display: inline;
}

.download_setting ul li {
    float: left;
    width: 100%;
    line-height: 18px;
    margin-bottom: 10px
}

.download_setting ul li a {
    float: left;
    width: 90%;
    background: url(../images/download_icons.png) no-repeat;
    height: 16px;
    padding-left: 22px;
    line-height: 16px;
    font-weight: bold;
}

.preview {
    float: left;
    width: 98%;
    font: normal 40px Arial, Helvetica, sans-serif;
    color: #8f8f8f;
    margin: 2px 0 7px 0;
}

.download_setting ul li a.doc {
    background-position: left -19px !important;
     text-decoration: underline;

}

.download_setting ul li a.pdf {
    background-position: left -37px !important;
    text-decoration: underline;

}

.download_setting ul li a.creat_copy {
    background-position: left -55px !important;
}

.download_setting ul li a.delete {
    background-position: left -74px !important;
}

/*page2*/
.section_cont ul {
    margin: 0 0 15px 0;
    padding: 0px;
    display: inline;
    float: left;
}

.section_cont ul li.small {
    width: 142px;
    float: left;
    font: bold 11px Arial, Helvetica, sans-serif;
    color: #333;
}

.section_cont ul li.wide {
    width: 400px;
    float: left;
}

.section_cont ul li.wide input {
    width: 350px;
}

.section_cont ul li.wide select {
    width: 250px;
}

.footer {
    width: 910px;
    float: left;
    padding: 25px 25px 20px;
    padding-bottom: 15px;
}

.footer_container {
    background: url(../images/footer_line.png) repeat-x left bottom;
    float: left;
    width: 100%;
    padding-bottom: 15px;
}

.footer_links {
    float: left;
    margin: 25px 0 0 0;
    padding: 0
}

.footer_links li {
    float: left;
    display: inline;
}

.footer_links a.first {
    padding-left: 0px !important;
}

.footer_links a.last {
    background: none !important;
}

.footer_links a {
    color: #0079A1;
    text-decoration: none;
    font: Bold 11px Arial, Helvetica, sans-serif;
    background: url(../images/"../images/divide-line.jpg") no-repeat scroll right center transparent;
    height: 10px;
    padding: 0 12px 0 10px;
}

.social {
    float: right;
}

.social span {
    margin: 0px;
    padding: 0px;
    display: block;
    font-weight: bold;
    font-size: 11px;
    color: #666666;
    margin-bottom: 5px;
}

.social a {
    float: left;
    margin-right: 5px;
}

.copy_right {
    float: left;
    margin: 10px 0 0 0;
    font-size: 11px;
}

.copy_right a {
    margin: 0 5px 0 5px;
}

.add_btn {
    float: right;
}

.big_box_layout {
    width: 710px;
    height: auto;
    float: left;
}

.bigboxL, .bigboxR {
    width: 710px;
    height: 18px;
    float: left;
    background: url(../images/bg_corner.png) no-repeat;
    line-height: 0;
}

.bigboxR {
    background-position: bottom;
}

.big_box_mid_text {
    width: 690px;
    float: left;
    background: url(../images/bg_border.png) repeat-y;
    padding: 0 15px 0 15px;
}

.big_box_mid_text ul {
    float: left;
    width: 100%;
    margin: 0 0 15px 0;
}

.big_box_mid_text ul li {
    width: 170px;
    float: left;
}

.temp_resume_btns {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/*sidhu-21-7-11*/
.dashboard_left {
}

.dashboard {
    float: left;
    width: 710px;
    margin: 0;
    padding: 0;
    border-bottom: solid 2px #96a6af;
}

.dashboard_right {
    background: #e3e3e3;
    width: 180px;
    padding: 20px 10px;
    float: right;
    margin: 0;
    height: 600px;
}

.accordion {
    width: 669px;
    margin: 0 auto
}

.acc_container {
    background: #FFF;
    width: 100%;
    float: left;
}

.acc_container h2 span {
    background: url(../images/accordion_arrow.png) no-repeat right top;
    height: 22px;
    width: 100%;
    float: right;
}

h2.acc_trigger {
    background: url(../images/slider_tab_new.png);
    height: 34px;
    float: left;
    width: 644px;
    margin: 10px 0 0;
}

h2.acc_trigger {
    font: bold 15px/41px Arial, Helvetica, sans-serif;
    color: #999999;
    padding: 0 0 0 25px;
    text-decoration: none;
    cursor: pointer;
}

h2.acc_trigger a:hover {
}

h2 .acr-controls {
    float: right;
    margin-right: 43px;
}

h2.acc_trigger a {
    color: #0079A1;
    font-family: Arial;
    font-size: 9px;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase
}

h2.acc_trigger a.move-up {
    background: url(../images/arrow_up.png) no-repeat right 0;
    margin-right: 10px;
    padding-right: 12px;
}

h2.acc_trigger a.move-down {
    background: url(../images/arrow_down.png) no-repeat right 0;
    padding-right: 12px;
}

h2.acc_trigger a.disable {
    color: #ccc;
    background-position: right bottom
}

h2.active {
    background-position: left bottom;
}

.acc_container {
    overflow: hidden;
    width: 647px;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    clear: both;
    background: #fff;
    padding: 15px 15px 15px 5px;
}

.acc_container .block {
    padding: 20px;
}

.acc_container .block p {
    padding: 5px 0;
    margin: 5px 0;
}

.acc_container h3 {
    font: 2.5em normal Georgia, "Times New Roman", Times, serif;
    margin: 0 0 10px;
    padding: 0 0 5px 0;
    border-bottom: 1px dashed #ccc;
}

.acc_bottom {
    background: url(../images/slider_bottom.png) left bottom;
    height: 12px;
    width: 639px;
    padding: 0 15px;
    float: left;
}

.acc_bottom span {
    float: left;
    margin-top: 5px;
    width: 870px;
}

.bottom_text span {
    display: none;
}

.acc_container p {
    padding: 0;
    margin: 0 0 10px 0;
}

.acc_sec2 {
    background: none;
    padding: 0px 30px 30px 0px !important;
}

.findcand_role {
    float: left;
    width: 100%;
    margin: 20px 0 10px 0px;
    border-top: 2px solid #B8B8B8;
}

.findcand_role {
    float: left;
    width: 100%;
    margin: 20px 0 10px 0px;
    border-top: 2px solid #B8B8B8;
}

.findcand_role span {
    float: left;
    color: #333;
    font-weight: bold;
    padding: 0 0px 10px 0px;
    margin: 15px 0 5px 0;
    width: 100%;
}

.findcand_role li {
    float: left;
    margin: 2px 0 2px 15px;
    color: #0079A1;
    width: 95%;
    list-style: disc;
}

.findcand_role a {

    margin: 2px 0 2px 0;
    width: 95%;
}

.create_new {
    float: left;
    margin: 20px 0 0 12px;
    background: url(../images/create_new.png) no-repeat;
    width: 150px;
    height: 46px;
    border: none;
    font-size: 0px;
    cursor: pointer;
}

.table_profile {
    width: 100%;
    float: left;
    text-align: left;
}

/*
.table_profile th {
    background: #fff url(../images/resume_h.png) repeat-x;
    height: 30px;
    text-align: left;
    color: #333;
    font: bold 9px Arial, Helvetica, sans-serif;
    padding: 5px 0 0 10px;
    text-transform: capitalize;
    margin-right: 1px;



}
*/
.table_profile th
{
      background:#222222 url(../images/resume_h.png) repeat-x; height:35px;text-align:left; color:#333;

font:bold 9px Arial, Helvetica, sans-serif;padding:0px 0 0 10px;text-transform:capitalize; margin-right:1px;}
.table_profile th span{padding-top:5px; display:block}.table_profile th
{
background:#222222 url(../images/resume_h.png) repeat-x; height:35px;text-align:left; color:#333;

font:bold 9px Arial, Helvetica, sans-serif;padding:0px 0 0 10px;text-transform:capitalize; margin-right:1px;}
.table_profile th span{padding-top:5px; display:block}

.table_profile th
{
background:#222222 url(../images/resume_h.png) repeat-x; height:35px;text-align:left; color:#333;

font:bold 9px Arial, Helvetica, sans-serif;padding:0px 0 0 10px;text-transform:capitalize; margin-right:1px;}
.table_profile th span{padding-top:5px; display:block}
.table_profile td {
    padding: 15px 0 0 10px;
    background: url(../images/td_dashboard.png) repeat-x;
    height: 70px;
    vertical-align: top
}

.table_profile .strong {
    font-weight: bold;
    font-size: 13px;
    color: #333333
}

.pagination {
    background-color: #DDDDDD;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;

    width: 100%;
    height: 30px;
}

.pagination ul {
    display: inherit;
}

.pagination li {
    background: url(../images/divide-line.jpg) no-repeat scroll left center transparent;
    float: left;
    margin: 0px;
    padding: 0px 0px 0px 8px;
    margin-right: 0px;
}

.pagination li.last {
    background: none !important;
    padding-left: 10px !important;
}

.page_change {
    background: url(../images/change_ico.png) no-repeat left center;
    height: 20px;
    float: left;
    padding: 0 0 0 21px;
    padding-top: 2px;
    color: #0179a1;
    font: bold 11px Arial, Helvetica, sans-serif;
    line-height: 15px;
}

.change_font {
    font: bold 11px Arial, Helvetica, sans-serif;
    color: #343434;
    float: left;
    width: 262px;
    line-height: 20px;
}

.change_font select {
    width: 180px;
    height: 20px;
    float: right;
}

.size {
    font: bold 11px Arial, Helvetica, sans-serif;
    color: #343434;
    float: left;
    width: 75px;
    margin-left: 12px;
    line-height: 20px;
}

.size select {
    width: 45px;
    height: 20px;
    float: right;
}

.reset {
    background: url(../images/reset_ico.png) no-repeat left center;
    height: 16px;
    float: left;
    padding: 0 0 0 19px;
    color: #0179a1;
    font: bold 11px Arial, Helvetica, sans-serif;
}

.save {
    background: url(../images/save.gif) no-repeat left center;
    height: 16px;
    float: left;
    padding: 0 0 0 19px;
    color: #0179a1;
    font: bold 11px Arial, Helvetica, sans-serif;
}


.edit {
    background: url(../images/edit_ico.png) no-repeat left center;
    height: 16px;
    float: left;
    padding: 0 0 0 20px;
    color: #0179a1;
    font: bold 11px Arial, Helvetica, sans-serif;
}

.resume_title {
    background: url(../images/resume_title.png) no-repeat left top;
    float: left;
    padding: 13px 0 0 15px;
    width: 915px;
    height: 30px;
    color: #fff;
    font: bold 14px Arial, Helvetica, sans-serif;
    text-align: center;
}

/*popup*/
#backgroundPopup {
    display: none;
    position: fixed;
    _position: absolute; /* hack for internet explorer 6*/
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #303030;
    border: 1px solid #cecece;
    z-index: 1;
}

#popupContact {
    display: none;
    position: fixed;
    _position: absolute; /* hack for internet explorer 6*/
    width: 417px;
    background: #fff;
    border: solid 1px #e8e8e8;
    z-index: 2;
    padding: 0px;
    font-size: 13px;
}

#popupContact h1 {
    text-align: left;
    color: #333;
    font: bold 16px Helvetica, sans-serif;
    background: url(../images/pop_upband.png) no-repeat;
    width: 392px;
    height: 48px;
    padding: 12px 0 0 25px;
}

#popupContact h1 font {
    color: #fff;
    width: 100%;
}

#popupContactClose {
    font-size: 14px;
    line-height: 14px;
    right: -8px;
    top: -13px;
    position: absolute;
    color: #6fa5fd;
    font-weight: 700;
    display: block;
    cursor: pointer;
}

.welcome_popup input {
    float: left;
    margin: 0px 0 25px 25px;
    width: 365px;
    height: 30px;
    border: solid 1px #ccc;
}

.popup_btn {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

.cancel {
    float: left;
    color: #3399cc;
    padding-left: 25px;
    text-decoration: none;
    margin: 9px 8px 25px 0;
    font: bold 13px Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
.add_botom{float:left; font-size: 11px;font-weight:bold;padding-left: 16px; margin: 16px 0}
.add_prev{float:right; margin-top:13px; margin-right: 11px;}
.save_btn {
    float: left;
    margin: 0 0 25px 0;
}

/*popup end*/

.ui-sortable {
    cursor: move;
}

#renameDialog ,#createCopyDialog{
overflow: visible;
}

.ltext {
    width: 365px;
    height: 30px;
    border: solid 1px #ccc;
    margin-left: 5%;

}

.dialog_button_div {
    width: 100%;
    text-align: center;
    font-size: 11px;
    
}

.dialog_button_div a:link,.dialog_button_div a:visited {
    font-family: Arial;
font-size: 13px;
font-weight: bold;
font-style: normal;
color: #3399CC;
}
.subButton {

}


#preview_box  UL LI{
    list-style: disc inside;
}

.servay						{ width: 640px; height:auto; float:left;}
.servay_top					{ width: 616px; height:auto; float:left; border-bottom:1px solid #efefef;}
.servay_top h1				{ width: 616px; height:auto; float:left; font-family:Arial; font-size:28px; font-weight:bold; color:#404040}
.servay_top h2				{ width: 616px; height:auto; float:left; font-family:Arial; font-size:14px; color:#555555;font-weight: normal; margin:10px 0 15px 0; font-style:Italic;line-height: 19px;}

.personal					{ width: 640px; height:auto; float:left;margin-top: 15px; border-bottom: 1px solid #EFEFEF; padding-bottom:15px}
.personal_top				{ width: 616px; height:auto; float:left;}
.personal_top h1			{ width: 616px; height:auto; float:left; font-family:Arial; font-size:14px; color:#7b7b7b;font-weight: normal; word-spacing:5px}
.personal_mid				{ width: 640px; height:auto; float:left;}
.personal_mid_student		{ width: 610px; height:auto; float:left; margin-left: 30px; margin-top: 15px;}
.personal_mid_student_inner	{ width: 610px; height:auto; float:left; margin-left:0px; margin-top: 15px;}
.personal_mid_student_inner h1	{ width: 135px; height:auto; float:left; font-family:Arial;  text-align: right;font-size:12px; color:#414141;font-weight: bold;margin-top: 4px;}
.personal_mid_student_inner h2	{ width: auto; height:auto; float:left; font-family:Arial;  text-align: right;font-size:12px; color:#414141;font-weight: bold;margin-top: 4px;}
.personal_mid_student_inner span	{ color:#df4954;font-family:Arial; font-size:22px;font-weight: bold; float: left;width: 20px; text-align: right;}


.personal_mid_student h1	{ width: 135px; height:auto; float:left; font-family:Arial;  text-align: right;font-size:12px; color:#414141;font-weight: bold;margin-top: 4px;}
.personal_mid_student h2	{ width: auto; height:auto; float:left; font-family:Arial;  text-align: right;font-size:12px; color:#414141;font-weight: bold;margin-top: 4px;}
.personal_mid_student span.mandatory	{ color:#df4954;font-family:Arial; font-size:22px;font-weight: bold; float: left;width: 20px; text-align: right;}


.salutation					{ width: 112px; height:auto; float:left;margin-left:9px;}
.salutation	select			{ width: 78px; height:25px; float:left; border:1px solid #c7c7c7; background:url(../images/input_bg.png) repeat-x}
.salutation h1				{ width: auto; height:auto; float:left; font-family:Arial; font-size:12px; color:#b9b9b9;font-weight: normal; font-style:Italic;}
.salutation	input			{ width:110px; height:21px; float:left; border:1px solid #c7c7c7; background:url(../images/input_bg.png) repeat-x}
.salutation2					{ width: 78px; height:auto; float:left;margin-left: 9px;}
.salutation2	select			{ width: 78px; height:25px; float:left; border:1px solid #c7c7c7; background:url(../images/input_bg.png) repeat-x}
.salutation2 h1					{ width: auto; height:auto; float:left; font-family:Arial; font-size:12px; color:#b9b9b9;font-weight: normal; font-style:Italic;}

.salutation3					{ width: 120px; height:auto; float:left;margin-left: 9px;}
.salutation3 select				{ width: 118px; height:25px; float:left; border:1px solid #c7c7c7;}
.salutation3 h1					{ width: auto; height:auto; float:left; font-family:Arial; font-size:12px; color:#b9b9b9;font-weight: normal; font-style:Italic;}
.salutation4					{ width: 195px; height:auto; float:left;margin-left: 9px;}
.salutation4 input				{ width: 193px; height:21px; float:left; border:1px solid #c7c7c7; background:url(../images/input_bg.png) repeat-x}
.salutation4 h1					{ width: auto; height:auto; float:left; font-family:Arial; font-size:12px; color:#b9b9b9;font-weight: normal; font-style:Italic;}

.personal_mid_student2		{ width: 360px; height:auto; float:left; margin-left: 30px; margin-top: 15px;}
.personal_mid_student2_inner	{ width: 360px; height:auto; float:left; margin-left:0px; margin-top: 15px;}

.personal_mid_student2 h1	{ width: 135px; height:auto; float:left; font-family:Arial;  text-align: right;font-size:12px; color:#414141;font-weight: bold;margin-top: 4px;}
.personal_mid_student2 h2	{ width: auto; height:auto; float:left; font-family:Arial;  text-align: left;font-size:12px; color:#414141;font-weight: bold;margin-top: 4px;}

.personal_mid_student2 span	{ color:#df4954;font-family:Arial; font-size:22px;font-weight: bold; float: left;width: 20px; text-align: right;}


.personal_mid_student2_inner h1	{ width: 135px; height:auto; float:left; font-family:Arial;  text-align: right;font-size:12px; color:#414141;font-weight: bold;margin-top: 4px;}
.personal_mid_student2_inner h2	{ width: auto; height:auto; float:left; font-family:Arial;  text-align: left;font-size:12px; color:#414141;font-weight: bold;margin-top: 4px;}

.personal_mid_student2_inner span	{ color:#df4954;font-family:Arial; font-size:22px;font-weight: bold; float: left;width: 20px; text-align: right;}

.salutation5					{ width: 195px; height:auto; float:right;margin-left: 9px;}
.salutation5 input				{ width: 193px; height:21px; float:left; border:1px solid #c7c7c7; background:url(../images/input_bg.png) repeat-x}
.salutation5 h1					{ width: auto; height:auto; float:left; font-family:Arial; font-size:12px; color:#b9b9b9;font-weight: normal; font-style:Italic;}

.salutation6					{ width: 195px; height:auto; float:left;margin-left: 9px;}
.salutation6 input				{ width: 193px; height:21px; float:left; border:1px solid #c7c7c7; background:url(../images/input_bg2.png) repeat-x}
.salutation6 h1					{ width: auto; height:auto; float:left; font-family:Arial; font-size:12px; color:#b9b9b9;font-weight: normal; font-style:Italic;}

.salutation7					{ width: 200px; height:auto; float:left;margin-left: 9px;}
.salutation7 input				{ width: auto; height:auto; float:left; margin:4px 0 0 6px;}
.salutation7 h2					{ width: auto; height:auto; float:left; font-family:Arial; font-size:12px; color:#414141;font-weight: normal; padding:0px 0 0 4px}

.salutation9					{ width: 200px; height:auto; float:left;margin-left: 9px;}
.salutation9 input				{ width: auto; height:auto; float:left; margin:4px 0 0 6px;}
.salutation9 h3					{ width: auto; height:auto; float:left; font-family:Arial; font-size:12px; color:#414141;font-weight: normal;  padding: 3px 30px 0 10px; margin:0}

.salutation8					{ width: 195px; height:auto; float:left;margin-left: 9px;}
.salutation8 select				{ width: 193px; height:25px; float:left; border:1px solid #c7c7c7;background:url(../images/input_bg.png) repeat-x}
.salutation8 h1					{ width: auto; height:auto; float:left; font-family:Arial; font-size:12px; color:#b9b9b9;font-weight: normal; font-style:Italic;}

.salutation10					{ width: 342px; height:auto; float:left;margin-left: 9px;}
.salutation10 input				{ width: 340px; height:25px; float:left; border:1px solid #c7c7c7;background:url(../images/input_bg.png) repeat-x}
.salutation10 h1				{ width: auto; height:auto; float:left; font-family:Arial; font-size:12px; color:#b9b9b9;font-weight: normal; font-style:Italic;}

.salutation11					{ width: 195px; height:auto; float:left;}
.salutation11 input				{ width: 193px; height:21px; float:left; border:1px solid #c7c7c7; background:url(../images/input_bg.png) repeat-x}
.salutation11 h1					{ width: auto; height:auto; float:left; font-family:Arial; font-size:12px; color:#b9b9b9;font-weight: normal; font-style:Italic;}

.salutation12					{ width: 500px; height:auto; float:left;margin-left: 9px;}
.salutation12 select				{ width: 118px; height:25px; float:left; border:1px solid #c7c7c7;}

.salutation13					{ width: 342px; height:auto; float:left;}
.salutation13 input				{ width: 340px; height:25px; float:left; border:1px solid #c7c7c7;background:url(../images/input_bg.png) repeat-x}

.salutation14						{ width: 340px; height:auto; float:left;}
.salutation14 select				{ width: 193px; height:25px; float:left; border:1px solid #c7c7c7;background:url(../images/input_bg.png) repeat-x}
.salutation14 textarea				{ width: 340px; height:105px; float:left; border:1px solid #c7c7c7;background:url(../images/input_bg.png) repeat-x}


.wrap_mid_right						{ width: 270px; height:auto; float:right;margin-top: 48px;}
.wrap_mid_right_top					{ width: 245px; height:auto; float:left; border:1px solid #e4e8ad; background:#fdf9d4;}
.wrap_mid_right_top h1				{ width: 213px; height:auto; float:left; font-family:arial; font-size:13px; font-weight:bold; color:#503b02;margin: 14px 15px 0 15px;line-height: 22px;}
.wrap_mid_right_top h2				{ width: 213px; height:auto; float:left; font-family:arial; font-size:13px; font-weight:normal; color:#503b02;margin: 5px 15px;line-height: 19px;}

.wrap_mid_right_top span a				{ text-decoration:none; width: auto; height:auto; font-family:arial; font-size:13px; font-weight:normal; color:#ac1315;line-height: 19px;}
.submit								{ width:590px; height:auto; float:left; padding-bottom: 20px;}
.submit input						{ width:auto; height:auto; float:left; margin-left:200px; margin-top: 20px ;}






.survey_icons				{ width:640px; height:auto; float:left; padding-bottom:7px;}

.survey_icons_inner			{ width:640px; height:auto; float:left; padding-top:20px; }
.survey_icons_inner	ul		{ width:auto; height:auto; float:left;}
.survey_icons_inner	ul	li.first	{ width:auto; height:auto; float:left; list-style:none; background:url(../images/1_per.png) no-repeat;  }
.survey_icons_inner	ul	li.first_next	{ width:auto; height:auto; float:left; list-style:none; background:url(../images/1_per_next.png) no-repeat;  }


.survey_icons_inner	ul	li.first h1	{ width: auto; height:auto; float:left; font-family:Arial; font-size:14px; color:#555555;font-weight: bold; padding:7px 0 5px 43px; font-style:normal;line-height: 19px; }
.survey_icons_inner	ul	li img	{ width:auto; height:auto; float:left; padding-left:8px; padding-top:16px;  }
.survey_icons_inner	ul	li img.next_dot	{ width:auto; height:auto; float:left; padding-left:6px; padding-top:16px;  }


.survey_icons_inner	ul	li.second	{ width:auto; height:auto; float:left; list-style:none; background:url(../images/2_per.png) no-repeat; margin-left:9px;  }
.survey_icons_inner	ul	li.second_next	{ width:auto; height:auto; float:left; list-style:none; background:url(../images/2_per_next.png)no-repeat; margin-left:9px;  }

.survey_icons_inner	ul	li.second_next h1	{ width: auto; height:auto; float:left; font-family:Arial; font-size:14px; color:#555555;font-weight: bold; padding:7px 0 5px 43px; font-style:normal;line-height: 19px; }

.survey_icons_inner	ul	li h1	{ width: auto; height:auto; float:left; font-family:Arial; font-size:14px; color:#bcbcbc;font-weight: bold; padding:7px 0 5px 43px; font-style:normal;line-height: 19px; }

.survey_icons_inner	ul	li.third	{ width:auto; height:auto; float:left; list-style:none; background:url(../images/3_per.png) no-repeat; margin-left:9px;  }
.survey_icons_inner	ul	li.third_next	{ width:auto; height:auto; float:left; list-style:none; background:url(../images/3_per_next.png) no-repeat; margin-left:9px;  }


.survey_icons_inner	ul	li.third_next h1	{ width: auto; height:auto; float:left; font-family:Arial; font-size:14px; color:#555555;font-weight: bold; padding:7px 0 5px 43px; font-style:normal;line-height: 19px; }

.survey_icons_inner	ul	li.forth	{ width:auto; height:auto; float:left; list-style:none; background:url(../images/4_per.png) no-repeat; margin-left:9px;  }
.survey_icons_inner	ul	li.forth h1	{ width: auto; height:auto; float:left; font-family:Arial; font-size:14px; color:#bcbcbc;font-weight: bold; padding:7px 0 5px 38px; font-style:normal;line-height: 19px; }



.edu_work_button			{ width:630px; height:auto; float:right; margin-top:21px; }
.edu_work_button input		{ width:189px; height:40px; float:left; margin-left:439px; }



.btm_buttons				{ width:630px; height:auto; float:left; margin-top:20px; }

.btm_button_pre				{ width:191px; height:auto; float:left; }
.btm_button_pre	input			{ width:191px; height:40px; float:left; }

.btm_button_next				{ width:189px; height:auto; float:right; }
.btm_button_next input			{ width:189px; height:40px; float:left; }



.btm_buttons_next				{ width:630px; height:auto; float:left; margin-top:20px; }

.btm_button_edu_work				{ width:191px; height:auto; float:left; }
.btm_button_edu_work input			{ width:191px; height:40px; float:left; }

.btm_button_offers				{ width:189px; height:auto; float:right; }
.btm_button_offers input			{ width:189px; height:40px; float:left; }



